<!DOCTYPE html>
<html>
    <head>
        <title>Rez3D - Home</title>
        <link rel="stylesheet" href="/css/stile.css" />
    </head>
    <body>
        <div style="text-align: right; padding: 10px;">
            <a href="/login"><button style="padding: 5px 15px; cursor: pointer;">Login</button></a>
        </div>
        <h1>Benvenuto in Rez3D!</h1>

        <h3>Esplora un mondo di stampe:</h3>
        <ul>
            <li><a href="/products">Lista dei prodotti</a></li>
        </ul>
    </body>
</html>